@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.header {
  width: 100%;
  background: $--primary;
  padding: 10px 0px;

  &__search {
    @include --box-global;

    &--logo {
      margin-top: 0px;
      max-width: 65px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      margin-right: 25px;
    }

    &--term {
      width: 100%;
      border: 1px solid $--white;
      border-right: none;
      padding: 10px;
      height: 36px;
      border-radius: 3px 0 0 3px;
      outline: none;
      color: $--black;
      font-size: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    &--term::placeholder {
      color: $--gray;
    }


    &--button {
      width: 40px;
      height: 36px;
      border: 1px solid $--gray-light;
      background: $--gray-light;
      text-align: center;
      color: $--black;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
      font-size: 22px;
      padding: 6px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
  }
}