@mixin --mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin --tablet {
  @media (min-width: 601px) and (max-width: 992px) {
    @content;
  }
}

@mixin --desktop {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin --desktop-big {
  @media (min-width: 1200px) {
    @content;
  }
}